.droparea-wrapper {
  position: relative;

  & .droparea-inner {
    display: flex;
    width: 100%;
    align-items: center;

    &:hover .custom-file-button,
    &:focus-within .custom-file-button {
      background-color: var(--shape-hover);
    }
  }

  & input[type="file"] {
    width: 100%;
    height: 2.5rem;
    cursor: pointer;

    &::file-selector-button {
      cursor: pointer;
      height: 100%;
      opacity: 0;
      margin-right: 0.75rem;
    }
  }

  & .custom-file-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.65rem 0.75rem;
    background-color: var(--shape-button);
    border-radius: 0.5rem;
    cursor: pointer;

    & img {
      width: 1rem;
      height: 1rem;
    }
  }
}
